<div class="container">
    <h1>Angular Custom NgModel</h1>

    <app-switch
            [(ngModel)]="appState"
            (ngModelChange)="handleChange()"
    ></app-switch>
    <p>appState: {{appState}}</p>

</div>
