div {
    display: inline-block;
}

button {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: white;
    background: red;
    border: none;
    outline: none;
}
.active{
    background: green;
}