<div class="container">
    <h1>Angular Services</h1>

    <div class="card">
        <h2>App Counter: {{appCounterService.counter}}</h2>
        <button class="btn" (click)="appCounterService.increase()">Увеличить</button>
        <button class="btn" (click)="appCounterService.decrease()">Уменьшить</button>
    </div>

    <div class="card">
        <h2>Local Counter: {{localCounterService.counter}}</h2>
        <button class="btn" (click)="localCounterService.increase()">Увеличить</button>
        <button class="btn" (click)="localCounterService.decrease()">Уменьшить</button>
    </div>
</div>
