<div class="container">
    <h2>----------- Основной HTML - начало -----------</h2>

    <app-http-client></app-http-client>
    <app-custom-ng-model></app-custom-ng-model>
    <app-work-with-forms></app-work-with-forms>
    <app-work-with-services></app-work-with-services>
    <app-pipe-list></app-pipe-list>

    <app-pipes-lesson></app-pipes-lesson>

    <app-directive-components-structure></app-directive-components-structure>

    <app-directive-components></app-directive-components>

    <app-post-form
            (onAdd)="updatePosts($event)"
    ></app-post-form>
    <hr>
    <app-post
            *ngFor="let p of posts"
            [myPost]="p"
            (onRemove)="removePost($event)"
    >
        <div #info>
            <small *ngIf="p.text.length > 10; else shot"> Пост длинный</small>
            <ng-template #shot>
                <small>Пост короткий</small>
            </ng-template>
        </div>
    </app-post>

    <app-post-examples></app-post-examples>
    <h2>----------- Основной HTML - конец -----------</h2>
</div>