<h1>--------------------------------------------</h1>
<h1>Angular attribute Directives</h1>
<div class="container">
    <p appStyle [appStyle]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px', fontWeight: 'bold'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque dolor iusto minus molestiae numquam
        quisquam similique? A consectetur eius ex illo molestiae quas sed temporibus voluptatibus! Commodi dolorem, ut.
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, unde.</span>
    </p>

    <p [appStyle]="'blue'" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque dolor iusto minus molestiae numquam
        quisquam similique? A consectetur eius ex illo molestiae quas sed temporibus voluptatibus! Commodi dolorem, ut.
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, unde.</span>
    </p>

    <p [appStyle]="" [fStyles]="'2.0em'">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque dolor iusto minus molestiae numquam
        quisquam similique? A consectetur eius ex illo molestiae quas sed temporibus voluptatibus! Commodi dolorem, ut.
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, unde.</span>
    </p>
</div>



