<h1>--------------------------------------------</h1>
<h1>Angular Custom (Structure) Directives</h1>

<button class="btn" (click)="isVisible = !isVisible">Toggle</button>
    <div class="wrap" *appIfNot="!isVisible">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi, aut cum debitis distinctio dolor
            dolorem, esse et explicabo ipsam iste necessitatibus odio officia quae quas quasi quis repudiandae vero.
        </p>
    </div>

<ng-template [appIfNot]="!isVisible">
    <p>То же самое, но через ng-template</p>
</ng-template>

<ng-template [ngIf]="isVisible">
    <div class="wrap">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi, aut cum debitis distinctio dolor
            dolorem, esse et explicabo ipsam iste necessitatibus odio officia quae quas quasi quis repudiandae vero.
        </p>
    </div>
</ng-template>


<!-- через обычный if-->
<!--<div *ngIf="isVisible" class="wrap">-->
<!--    <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi, aut cum debitis distinctio dolor-->
<!--        dolorem, esse et explicabo ipsam iste necessitatibus odio officia quae quas quasi quis repudiandae vero.-->
<!--    </p>-->
<!--</div>-->




