<h1>-------------------------------------------------</h1>
<h1>PIPES</h1>
<div class="container card">
    <p>{{e | number:'1.1-2'}}</p>
    <p>{{e | number:'1.0-0'}}</p>
    <p>{{233.3245 | number:'1.1-3'}}</p>
    <p>{{1.12345 | number:'3.1-4'}}</p>
</div>

<div class="card">
    <p>STRING</p>
    <p>{{str | titlecase}}</p>
    <p>{{str | titlecase | slice:1:10 }}</p>
    <p>{{str | titlecase | slice:0:-10 }}</p>
</div>

<div class="card">
    <p>{{date | date:'dd-MM-yyyy, HH:mm:ss' }}</p>
</div>

<div class="card">
    <p>{{myFloat | currency}}</p>
    <p>{{myFloat | percent:'0.1-2'}}</p>
    <p>{{myFloat}}</p>
</div>
<div class="card">
    <pre>{{obj | json}}</pre>
</div>

<div class="card">
    <p>{{ 10 | multiMyPipe}}</p>
    <p>{{ 10 | multiMyPipe:5}}</p>
    <p>{{ 10 | multiMyPipe:10}}</p>
</div>
<div class="card">
    <p>{{ 'Привет нам всем ' | exMarks}}</p>
</div>
