<h1>--------------------------------------------</h1>
<h1>POST FORMS</h1>
<div>
    <input
            type="text"
            class="form-control"
            placeholder="title"
            [(ngModel)]="title"
            #titleInput
    >
    <input
            type="text"
            class="form-control"
            placeholder="text"
            [(ngModel)]="text"
    >

    <button class="btn" (click)="addPost()">Добавить пост</button>
    <button class="btn" (click)="focusTitle()">Focus title</button>
</div>