.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

.red {
  background: #d98787;
  font-size: 2rem;
}

.blue {
  background: #9494de;
  font-size: 1.5rem;
}

.myLi > div {
  background: #e8dca8;
}

