<h1>--------------------------------------------</h1>
<div>
    <p>{{now | date: 'long' | uppercase }}</p>
</div>

<br>
<ul class="list-style none">
    <li *ngFor="let post of objs; let idx = index">
        <p>{{post.title}} <b>{{post.author}}</b></p>
        <ul>
            <li *ngFor="let comment of post.comments"  class="myLi">
                <div>
                <small>{{comment.name}}</small>
                <p>{{comment.text}}</p>
                </div>
            </li>
        </ul>
    </li>
</ul>

<br>
<ul>
    <li *ngFor="let myNumber of arr; let idx = index">
        {{idx + 1}} <strong>{{myNumber}}</strong>
    </li>
</ul>


<br>

<button (click)="toggle = !toggle">ЖМИ!</button>

<p class="red" *ngIf="toggle">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, totam?
</p>
<p class="blue" *ngIf="!toggle">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, rerum?
</p>
<!-- ИЛИ-->
<p class="red" *ngIf="toggle; else blueParagraph">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, totam?
</p>
<ng-template #blueParagraph>
    <p class="blue">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, rerum?
    </p>
</ng-template>

<br>
<p
        [class.blue]="!backgroundToggle"
        [class.red]="backgroundToggle"
>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto eum illo minus numquam repellendus
    repudiandae totam, voluptas.
    Aliquid aperiam dignissimos ipsam iste modi molestias nemo quaerat repellat sapiente tempore!</p>
<br>

<!--red и blue - классы-->
<p [ngClass]="{
red: backgroundToggle === true,
blue: !backgroundToggle
}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, veritatis!</p>
<button (click)="backgroundToggle = !backgroundToggle">Нажми на меня...</button>
<br>
<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '1px solid #ccc',
    background: backgroundToggle ? 'red' : 'blue'
    }">
</div>
<button (click)="backgroundToggle = !backgroundToggle">Нажми на меня...</button>
<br>


<div class="grid-container">
    <div>
        <div>Через [(ngModel)]</div>
        <input type="text" [(ngModel)]="title">
        <p><strong>{{title}}</strong></p>
    </div>

    <div [formGroup]="form">
        <div>через [formGroup]</div>
        <input type="text" formControlName="text">
        <p><strong>{{form.get('text').value}}</strong></p>
        <input type="text" formControlName="text2">
        <p><strong>{{form.get('text2').value}}</strong></p>
        <input type="text" formControlName="text3">
        <p><strong>{{form.get('text3').value}}</strong></p>
        <div formGroupName="group">
            <input type="text" formControlName="text4">
            <p><strong>{{form.get('group').get('text4').value}}</strong></p>
        </div>
    </div>

    <div>
        <div>(keyup.enter)="onInputStrong($event)</div>
        <input
                (keyup.enter)="onInputStrong($event)"
                (blur)="onBlur(myInput.value)"
                #myInput>
        <p><strong>{{strongText}}</strong></p>
        <button (click)="onClick()">Click Me!</button>
    </div>
</div>


