
<div class="card">
    <h2>{{myPost.title}}</h2>
    <p>{{myPost.text}}</p>
    <p>{{myPost.id}}</p>

    <button class="btn" (click)="removePost()">&times;</button>

    <ng-content></ng-content>
</div>
