<div class="container">
    <h1>Angular pipes</h1>

    <p>Wait for it...{{p | async}}</p>
        <p>Date: {{myDate$ | async | date:'HH:mm:ss dd-MM-yyyy'}}</p>
<!--    <p>{{date | date:'HH:mm:ss dd-MM-yyyy'}}</p>-->

    <button class="btn" (click)="searchField = 'title'">Title</button>
    <button class="btn" (click)="searchField = 'text'">Text</button>
    <button class="btn" (click)="addPost()">Добавить новый пост</button>

    <input type="text" [(ngModel)]="search">
    <div *ngFor="let post of posts | filter:search:searchField" class="card">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>

    </div>
</div>

