.invalid {
    border: 1px solid red;
}
.valid {
    border: 1px solid green;
}

input {
    outline: none;
}

.invalid:focus-within {
    outline: 1px solid red;
}

.valid {
    outline: 1px solid green;
}
.validation{
    color: red;
}

